h1 {
/*	   padding-top: 50px;
	   font-size: 50px;
		 font-family: cursive;
		 background-color: teal; */
		 color: #3C1165; /*#15056C;*/
		 font-weight: bold;
/*		 color: teal;
		 opacity: 0.9; */
	  }